#section3 {
    background-image: url(./../../../assets/img/3_section_our_menu/JPG/section_our_menu_bg.jpg);
    padding-right: 160px;
    padding-left: 160px;
    padding-top: 120px;
    padding-bottom: 120px;
    box-sizing: border-box;

    >div {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 48px;
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
        
        .menu-item1 {
            margin-top: 56px;
            display: flex;
            justify-content: center;
        }
        
        .menu-item2 {
            margin-top: 56px;
            display: flex;
            justify-content: center;
        }
        
        img {
            width: 352px;
        }
        
        .menu-discr1 {
            padding-left: 80px;
            display: flex;
            flex-direction: column;
            font-family: Economica, sans-serif;
            font-size: 56px;
            font-weight: bold;
        }
        
        .menu-discr2 {
            padding-right: 80px;
            display: flex;
            flex-direction: column;
            font-family: Economica, sans-serif;
            font-size: 56px;
            font-weight: bold;
        }
        
        .menu-headline {
            margin-bottom: 16px;
            text-align: center;
        }
        
        .menu-table {
            font-family: Raleway, sans-serif;
            font-size: 32px;
            font-weight: bold;
            color: #675E54;
            border-spacing: 8px;
        }
        
        .menu-price {
            padding-left: 168px;
        }
    }
}

@media(max-width: 960px) {
    #section3 {
        display: flex;
        justify-content: center; 
        padding-left: 24px;
        padding-right: 24px;

        h2 {
            font-size: 40px;
        }
    }

    .menu-item1 {
        flex-direction: column;
        align-items: center;
    }

    .menu-item2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .menu-img {
        width: 200px;
        aspect-ratio: 1 / 1;
    }

    .menu-discr1 {
        padding-left: 0;
        font-size: 40px;
    }

    .menu-discr2 {
        padding-right: 0px;
        font-size: 48px;
    }

    .menu-table{
        font-size: 24px;
    }

    .menu-price {
        padding-left: 16px;
    }
}

