<section class="section2" id="how_to_order">
    <h2 id="how-german">HOW TO ORDER</h2>

    <div class="order">
        <div>
            <img class="food-graphic" src="assets/img/2_section_how_to_order/PNG/noodle.png" alt="noodle">
            <p class="img-discription" id="img-discription-german1">Pick your <br> noodle</p>
        </div>
        <div>
            <img class="food-graphic" src="assets/img/2_section_how_to_order/PNG/broth.png" alt="broth">
            <p class="img-discription" id="img-discription-german2">Pick your <br> broth</p>
        </div>

        <div>
            <img class="food-graphic" src="assets/img/2_section_how_to_order/PNG/egg.png" alt="egg">
            <p class="img-discription" id="img-discription-german3">Add your <br> toppings</p>
        </div>
    </div>
</section>
